@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMAN STYLING  */
section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em 0;
        flex-direction: column;
}
form{
        
        width: 40em;
        padding: 0.8em;
        background-color: white;
        /* box-shadow: 0.8em 0.8em 0.8em gray; */
        box-shadow: 0.4em 0.4em 0.4em rgba(128, 128, 128, 0.521);
        border: 1px solid rgba(128, 128, 128, 0.541);
        border-radius: 0.4em;
        display: display;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
}
select{
        width: 80%;
        display: inline;
        border: 0.2em solid rgba(128, 0, 128, 0.178);
        border-radius: 0.2em;
        padding: 0.2em 0.4em;
        margin: 0.8em;
        background-color: rgba(128, 0, 128, 0.212);
        outline: none;
}
a{
        text-decoration: none;
        max-width: max-content;
        max-height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
}
label{
        display: block;
        margin: 0.4em 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
}
input,textarea{
        padding: 0.4em 0.8em;
        border: 0.2em solid purple;
        background-color: white;
        outline: none;
        border-radius: 0.2em;
        width: 14em;
        /* border-radius: 0.8em 0 0 0.8em; */
}
textarea{
        display: block;
}
table{
        width: 40em;
        
}
td,th{
        border: 1px solid rgba(0, 0, 0, 0.123);
        padding: 0.4em 0.8em;
        background-color: rgba(173, 216, 230, 0.432);
        text-align: center;

}
button{
        width: max-content;
        min-width: 4.8em;
        min-height: 2.8em;
        padding: 0.6em 0.8em;
        margin: 0.8em 0;
        background-color: rgba(128, 0, 128, 0.616);
        /* display: inline; */
        outline: none;
        color: white;
        border: none;
        border-radius: 0.2em;
        cursor: pointer;
        height: fit-content;
        height: max-content;
        transition: all 0.5s ease-in-out;
        margin: 0.8em;
}
button:hover{
        background-color: purple;
}

h5,h6{
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
        font-size: medium;
        font-weight: 500;
        color: rgba(128, 128, 128, 0.696);
        padding: 0 0.2em;
}


header{
        position: relative;
        width: 100%;
        border-radius: 0.4em 0.4em 0 0 ;
        padding: 0 1.8em;
        display: flex;
        align-items: center;
        background-color: purple;
        justify-content: space-between;

}

.show-hide-nav{
        display: none;
        position: absolute;
        right: 1.8em;
        top: 1.2em;
        cursor: pointer;
}
nav{
        display: flex;
        
}
/* .showNav{
        display: block;
        transform: translateY(0);
        position: absolute;
        left: 10em;
        display: flex;
} */

.logo{
        font: optional;
        font-size: larger;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        color: aqua;
        font-style: oblique;
        text-decoration: none;
        margin-left: 0.8em;
        /* background-color: purple; */
        /* width: 100vw; */
        padding: 1.2em 1.8em;
        border-radius: 0.4em 0.4em 0 0;
        display: flex;
        align-items: center;
        justify-content: first baseline;

}
.dot-logo{
        font-size: larger;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        margin-right: 0.1em;
        text-decoration: none;
}
ul{
        display: flex;
        list-style: none;
}
.nav-links{
        color: white;
        text-decoration: none;
        padding: 0.4em 0.4em;
        margin: 0 0.4em;
        border-radius: 0.2em;
        transition: 0.5s ease-in-out;

}
.nav-links:hover{
        color: purple;
        background-color: white;


}

.profile-links{
        color: purple;
        background-color: white;
        text-decoration: none;
        padding: 0.4em 0.4em;
        margin: 0 0.4em;
        border-radius: 0.2em;
        transition: 0.5s ease-in-out;
}
.profile-links:hover{
        background-color: aqua;
}

/* JOBS AND JOB CARD COMPOMENT STYLING */
.modal-form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: auto 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.253);
        /* background-color: rgba(0, 0, 0, 0.418); */
        
}
.modal-form>form{
        position: relative;
        top: 8em;
        left: 20em;
}
.close-btn{
        display: block;
        color: red;
        position: absolute;
        top: 0.8em;
        right: 0.8em;
        transition:all 0.5s ease-in-out;
        margin: 0 auto;

}
.close-btn:hover{
        text-decoration: underline;

}
.search-bar{
        margin: 0.4em;
}
.search-input{
        /* display: block; */
        padding: 0.4em 0.8em;
        border-radius: 0.8em 0 0 0.8em;
        /* height: 4em; */
}
.search-btn{
        background-color: purple;
        padding:0.4em 0.8em;
        max-height: 2.8em;
        height: 2.2em;
        margin: 0;
        border-radius: 0 0.8em 0.8em 0;
}
.jobs-sec{
        width: 100%;
        /* background-color: aqua; */
        display: grid;
        grid-template-columns: 22em 22em 22em;
        align-items: center;
        justify-content: center;
}
.job-card{
        width: 16.8em;
        min-width: 16.8em;
        aspect-ratio: 0.8;
        background-color: rgba(255, 248, 220, 0.63);
        box-shadow: 0.4em 0.4em 0.4em rgba(128, 128, 128, 0.521);
        border: 1px solid rgba(128, 128, 128, 0.541);
        border-radius: 0.4em;
        cursor: pointer;
        margin: 0.4em;
        padding:  0.8em;
}
.min-text{
        max-height: 8em;
        overflow: hidden;
}
.container{
        display: flex;
        width: 100%;
        height: 100%;
       align-items: center;
        justify-content: center;
}
.btn-clear{
        background-color: rgba(128, 128, 128, 0.589);
        color: black;
        position: relative;
}
.btn-clear:hover{
        background-color: rgba(128, 128, 128, 0.589);
}
.btn-clear>span{
        position: absolute;
        border-radius: 50%;
        right: -0.6em;
        font-size: x-small;
        font-weight: lighter;
        padding: 0.2em;
        top: -0.6em;
}


/* PROFILE AND PROFILE COMPONENTS STYLING  */
.form-input{
        display: flex;
        flex-direction: column;
        margin: 0.8em;
        /* justify-content: center; */
        /* align-items: center; */

}
.form-input>input,.form-input>textarea{
        width: 80%;
}
.btn-delete{
        
        background-color: rgba(255, 0, 0, 0.61);
        transition: all 0.5s ease-in-out;
}
.btn-delete:hover{
        background-color: red;
}
.form-btn{
        display: flex;
        gap: 1.2em;
        margin-top: 1.4em;
}
.min-modal{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}
.min-modal>form{
        position: absolute;
}
.action-btn{
        padding: 0.4em 0.8em;
        cursor: pointer;
}
.message-page{
        font-size: 36px;
        color: rgba(128, 128, 128, 0.363);
        text-shadow: 0.8em 0.8em 0.8em rgba(128, 128, 128, 0.486);
}


/* <<<<===========RESPONSIVE DESIGN ==========>>>>> */
@media (max-width:990px){
        header{
                /* height: max-content; */
                
        }
        
        .jobs-sec{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0 auto;
                gap: 0.8em;
                padding: 0.8em;
                transition: all0.5s linear;
                background-color: transparent;
        }
        table{
                max-width: 30em;
        }
        .modal-form{
                width: 100vw;
                height: 200vh;
                display: flex;
                align-items: center;
                justify-content: center;
        }
        .showNav{
                display: flex;
                /* transform:translateY(0%) ; */
                transition: all 0.5s linear;
                background-color: purple;
                transition: all 0.5s linear;
                

        }
        /* .show-hide-nav{display: block;}
        .showNav{
                display: block;
                transform:translateY(0%) ;
                transition: all 0.5s linear;
                background-color: purple;
                transition: all 0.5s linear;
                

        }
        .hideNav{
                overflow: hidden;
                display: none;
                transform:translateY(-140%) ;
                transition: all 0.5s linear;
                background-color: transparent;
               
        } */
        .modal-form>form{
                max-width: 40em;
                position: relative;
                left: 0;
                top: 0.8;
                margin: 0 auto;
        }

}

@media (max-width:798px){
        .show-hide-nav{display: block;}
        .showNav{
                display: block;
                transform:translateY(0%) ;
                transition: all 0.5s linear;
                background-color: purple;
                transition: all 0.5s linear;
                

        }
        .logo{
                width: 100vw;
        }
        .hideNav{
                overflow: hidden;
                display: none;
                transform:translateY(-140%) ;
                transition: all 0.5s linear;
                background-color: transparent;
               
        }
        .jobs-sec{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0 auto;
                gap: 1.2em;
        }
        .job-card{
                min-width: 14.6em;
                max-width: 14.6em;
                min-height: 22.8em;
                max-height: 22.8em;
        }
        header{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }
        table{
                max-width: 30em;
        }
        .modal-form{
                width: 100vw;
                height: 200vh;
                display: flex;
                align-items: center;
                justify-content: center;
        }
        .modal-form>form{
                max-width: 30em;
                position: relative;
                left: 0;
                top: 0.8;
                margin: 0 auto;
        }
        .show-hide-nav{
                position: absolute;
                right: 1.8em;
                top: 1.8em;
        }
        ul{
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.8em;
        }
        li{
                width: 90vw;
                display: flex;
                margin-right: 2.8em;
        }
        .nav-links:hover{
                background-color: transparent;
                color: aqua;
                width: 100%;
                transition: all 0.5s linear;
        }
        .active{
                color: aqua;
        }
        .profile-links{
                width: 60em;
                
        }
        .profile-links:hover{
                background-color: transparent;
                color: white;
                .profile-links:active{
                        background-color: black;
                }

        }
        select{
                display: inline-block;
                width: max-content;
        }
        
}


@media (max-width:368px){

        header{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }
        table{
                width: 20em;
        }
        .show-hide-nav{
                position: absolute;
                right: 1.8em;
                top: 1.8em;
        }
        ul{
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.8em;
        }
        li{
                width: 90vw;
                display: flex;
                margin-right: 2.8em;
        }
        .nav-links:hover{
                background-color: transparent;
                color: aqua;
                width: 100%;
                transition: all 0.5s linear;
        }
        .active{
                color: aqua;
        }
        .profile-links{
                width: 60em;
                
        }
        .profile-links:hover{
                background-color: transparent;
                color: white;
                .profile-links:active{
                        background-color: black;
                }

        }
        select{
                display: inline-block;
                width: max-content;
        }
        .jobs-sec{
                display: grid;
                grid-template-columns: 1fr;
                align-self: center;
        }
        form{
                margin: 0.8em 0.4em;
                width: 18.8em;
        }
        .modal-form{
                width: 100%;
                height: 54em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.8em;
        }
        .modal-form>form{
                position: relative;
                left: 0;
                top: 0.8;
                
        }
        
        
}
@media(max-width:568px){
        header{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }
        .show-hide-nav{
                position: absolute;
                right: 1.8em;
                top: 1.8em;
        }
        ul{
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.8em;
        }
        li{
                width: 90vw;
                display: flex;
                margin-right: 2.8em;
        }
        .nav-links:hover{
                background-color: transparent;
                color: aqua;
                width: 100%;
                transition: all 0.5s linear;
        }
        .active{
                color: aqua;
        }
        .profile-links{
                width: 60em;
                
        }
        .profile-links:hover{
                background-color: transparent;
                color: white;
                .profile-links:active{
                        background-color: black;
                }

        }
        select{
                display: inline-block;
                width: max-content;
        }
        .jobs-sec{
                display: grid;
                grid-template-columns: 1fr;
                align-self: center;
                justify-content: center;
        }
        form{
                margin: 0.8em 0.4em;
                width: 18.8em;
        }
        .modal-form{
                width: 100%;
                height: 54em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.8em;
        }
        .modal-form>form{
                position: relative;
                left: 0;
                top: 0.8;
                
        }
}
